.root {
  width: min-content;
  height: min-content;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #fff0f0;
  overflow: hidden;
}
.label_value {
  color: #eb5757;
  font-size: 12px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
