.QuickLinks{
    height: 100%;
    background-color: #7d7d7d;
    color: #ffffff;
    width: 20%;
    height: 100%;
}

.QuickLinks_title{
    font-size: 1.3rem;
}

.list{
    list-style: none;
    padding: 5px 0;
}

.list li{
    margin: 5px;
    padding: 5px 35px;
    margin-top: 2rem;
}

.list li:hover{
    border-radius: 5px;
    background-color: #4b4b4b;
}

.list a{
    text-decoration: none;
    color: rgb(216, 216, 216);
    font-size: 1.1rem;
}