.table_cell.table_cell {
  height: initial;
  align-self: stretch;
}
.table_cell2.table_cell2 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.cell_value {
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.textBlock {
  color: #333;
  font-size: 12px;
  line-height: 150%;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.labelWrapper {
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #828282;
  font-size: 12px;
  line-height: 150%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.table_cell3.table_cell3 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.cell_value2 {
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.textBlock2 {
  color: #828282;
  font-size: 12px;
  line-height: 150%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock3 {
  color: #828282;
  font-size: 12px;
  line-height: 150%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.table_cell4.table_cell4 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
}
.cell_value3 {
  color: #828282;
  font-size: 12px;
  line-height: 150%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.table_cell5.table_cell5 {
  width: 82px;
  height: initial;
  align-self: stretch;
}
.label_value {
  color: #18ab56;
  font-size: 12px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.table_cell6.table_cell6 {
  width: 136px;
  height: initial;
  align-self: stretch;
}
.icon {
  width: 100%;
  height: 100%;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.root {
  height: min-content;
  align-self: stretch;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px -1px 0px 0px #e0e7ed;
}
