.root {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 8px;
}
.text {
  color: #333;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.number_picker {
  width: min-content;
  height: 36px;
  align-items: center;
  gap: 8px;
  padding: 9px 12px;
  outline: solid 1px #e0e7ed;
  outline-offset: -1px;
  border-radius: 8px;
  background-color: #fff;
}
.entries_number {
  color: #333;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: 24px;
  height: min-content;
  flex-direction: column;
}
.icon_chev_down {
  z-index: 0;
  width: 16px;
  height: 16px;
}
.icon {
  width: 100%;
  height: 100%;
}
.text2 {
  color: #333;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
